body{
    background-color:whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:darkolivegreen;
}

h1{
    text-align:center;
    color:teal;   
}

#jumbo {
    padding: 1px
}

#p1{
    text-align:center;
    color:teal;
}

#d1{
    text-align:justify;
    text-align-last:center;
    /*border: 10px solid transparent;
    border-radius:25px;
    background-color: lightblue;
    float: left;*/
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}